@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

/* Basic typography */
body {
  font-feature-settings: "liga" 1, "calt" 1;
}
